# Secret key
SECRET_KEY=xxxxxxxxxxxxxxxxx

# True for local, False for production
DEBUG=False

# Allowed hosts
ALLOWED_HOSTS=xxxxxxxxxx,xxxxxxxxx

# dev for local, prod for production
DJANGO_ENV=dev

# PostgreSQL database
POSTGRES_DB=xxxxxxxxxxxxx
POSTGRES_USER=xxxxxxxxxxx
POSTGRES_PASSWORD=xxxxxxx
POSTGRES_HOST=xxxxxxxxxxx
POSTGRES_PORT=xxxxxxxxxxx